<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="CinemaEntities" connectionString="metadata=res://*/Cinema.csdl|res://*/Cinema.ssdl|res://*/Cinema.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ometz4-pc;initial catalog=Cinema;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>